{% extends 'base2.html' %}
{% load static %}

{% block title%}Review Manager{% endblock title%}

{% block body %}
<div id="main-wrapper" data-layout="vertical" data-navbarbg="skin5" data-sidebartype="full"
        data-sidebar-position="absolute" data-header-position="absolute" data-boxed-layout="full">
<div class="page-wrapper"> 
    <div class="page-breadcrumb">
        <div class="row align-items-center">
            <div class="col-md-6 col-8 align-self-center">
                <h3 class="page-title mb-0 p-0">Table</h3>
                <div class="d-flex align-items-center">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Table</li>
                        </ol>
                    </nav>
                </div>
            </div>
            <div class="col-md-6 col-4 align-self-center">
                <div class="text-end upgrade-btn">
                    <a href="https://www.wrappixel.com/templates/materialpro/"
                        class="btn btn-danger d-none d-md-inline-block text-white" target="_blank">Upgrade to
                        Pro</a>
                </div>
            </div>
        </div>
    </div>
        <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
                <div class="row">
                    <!-- column -->
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Basic Table</h4>
                                <h6 class="card-subtitle">Add class <code>.table</code></h6>
                                <div class="table-responsive">
                                    <table class="table user-table">
                                        <thead>
                                            <tr>
                                                <th class="border-top-0">#</th>
                                                <th class="border-top-0">First Name</th>
                                                <th class="border-top-0">Last Name</th>
                                                <th class="border-top-0">Username</th>
                                            </tr>
                                            
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>1</td>
                                                <td>Deshmukh</td>
                                                <td>Prohaska</td>
                                                <td>@Genelia</td>
                                            </tr>
                                            <tr>
                                                <td>2</td>
                                                <td>Deshmukh</td>
                                                <td>Gaylord</td>
                                                <td>@Ritesh</td>
                                            </tr>
                                            
                                            
                                        </tbody>
                                        
                                    </table>
                                    <tr>
                                        <button class="btn btn-success text-white" id="next-btn" >NEXT</button>
                                    </tr>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                <!-- ============================================================== -->
                <!-- End PAge Content -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Right sidebar -->
                <!-- ============================================================== -->
                <!-- .right-sidebar -->
                <!-- ============================================================== -->
                <!-- End Right sidebar -->
                <!-- ============================================================== -->
            
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            {% comment %} <footer class="footer"> 
                <nav class="navbar top-navbar navbar-expand-md navbar-dark">
                    <div class="navbar-header" data-logobg="skin6">
                        <!-- ============================================================== -->
                        <!-- Logo -->
                        <!-- ============================================================== -->
                        
                        <!-- ============================================================== -->
                        <!-- End Logo -->
                        <!-- ============================================================== -->
                        <!-- ============================================================== -->
                        <!-- toggle and nav items -->
                        <!-- ============================================================== -->
                        <a class="nav-toggler waves-effect waves-light text-white d-block d-md-none"
                            href="javascript:void(0)"><i class="ti-menu ti-close"></i></a>
                    </div>
                    <!-- ============================================================== -->
                    <!-- End Logo -->
                    <!-- ============================================================== -->
                    <div class="navbar-collapse collapse" id="navbarSupportedContent" data-navbarbg="skin5">
                        <ul class="navbar-nav d-lg-none d-md-block ">
                            <li class="nav-item">
                                <a class="nav-toggler nav-link waves-effect waves-light text-white "
                                    href="javascript:void(0)"><i class="ti-menu ti-close"></i></a>
                            </li>
                        </ul>
                        <!-- ============================================================== -->
                        <!-- toggle and nav items -->
                        <!-- ============================================================== -->
                        
    
                        <!-- ============================================================== -->
                        <!-- Right side toggle and nav items -->
                        <!-- ============================================================== -->
                        <div class="navbar-collapse collapse" id="navbarSupportedContent" data-navbarbg="skin5">
                        <ul class="navbar-nav">
                            <!-- ============================================================== -->
                            <!-- User profile and search -->
                            <!-- ============================================================== -->
                            <li class="nav-item dropdown Li">
                                <a href="https://www.linde.com/sitemap" target=”_blank” id="navbarDropdown" >
                                              Sitemap
                                </a>
                                <!-- <ul class="dropdown-menu" aria-labelledby="navbarDropdown"></ul> -->
                            </li>
    
    
                            <li class="nav-item dropdown Li">
                                <a href="https://www.linde.com/privacy-statement" id="navbarDropdown" target=”_blank”>
                                    Privacy Statement
                                </a>
                                <!-- <ul class="dropdown-menu" aria-labelledby="navbarDropdown"></ul> -->
                            </li>
    
    
                            <li class="nav-item dropdown Li">
                                <a href="https://www.linde.com/terms-conditions" id="navbarDropdown" target=”_blank”>
                                    Terms and Conditions
                                </a>
                                <!-- <ul class="dropdown-menu" aria-labelledby="navbarDropdown"></ul> -->
                            </li>
    
                            <li class="nav-item dropdown Li">
                                <a href="https://www.linde.com/contact-us" id="navbarDropdown" target=”_blank”>
                                    Contact Us
                                </a>
                                <!-- <ul class="dropdown-menu" aria-labelledby="navbarDropdown"></ul> -->
                            </li>
    
                            <li class="nav-item dropdown Li">
                                <a href="https://www.linde.com" id="navbarDropdown" target=”_blank”>
                                    About Us
                                </a>
                                <!-- <ul class="dropdown-menu" aria-labelledby="navbarDropdown"></ul> -->
                            </li>
    
    
                            <!-- <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-muted waves-effect waves-dark" class="profile" href="#" id="navbarDropdown">
                                    <img src="../assets/images/users/1.jpg" alt="user" class="profile-pic me-2">Markarn Doe
                                </a>
                                 <ul class="dropdown-menu" aria-labelledby="navbarDropdown"></ul>
                            </li> -->
    
                            <!-- <li class="nav-item dropdown">
                                <a class="nav-link">Meet Shah</a>
                                
                            </li> -->
                        </ul>
                        
                    </div>
                </div>
    
                    
    
                </nav>
            </footer>    {% endcomment %}
            <!-- End footer -->
            <!-- ============================================================== -->
        </div>
    </div>
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    <script src="../assets/plugins/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="../assets/plugins/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="js/app-style-switcher.js"></script>
    <!--Wave Effects -->
    <script src="js/waves.js"></script>
    <!--Menu sidebar -->
    <script src="js/sidebarmenu.js"></script>
    <!--Custom JavaScript -->
    <script src="js/custom.js"></script>


{% endblock body %}